body {
	background-color: #009900;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
}

.player {
	position: relative;
	background: url(../img/player.png) no-repeat left;
	width: auto;
	height: 36px;
	right: auto;
	bottom: auto;
}

.card {
	position: relative;
	width: 34px;
	height: 50px;
	right: auto;
	bottom: auto;
}

.dot {
	position: absolute;
	bottom: 0px;
}

.red_card {
	color: #ff0000;
}

.black_card {
	color: #000000;
}

#club_card {
	background: url(../img/cards/club_card.png) no-repeat center;
}

#diamond_card {
	background: url(../img/cards/diamond_card.png) no-repeat center;
}

#table {
	position: relative;
}
